{% import "macros.html" as macros %}
{% extends "layout.html" %}


{% set form_id = "form-delete-course" %}


{% block title %}Curso NOMBRE{% endblock %}


{% block body %}
CURSO
<h1>{{course.name}}</h1>
<strong>Fecha de inicio</strong>: {{course.init_date}}
<br>
<strong>Fecha final</strong>: {{course.end_date}}
<br>
<strong>Tipo</strong>: {{course.type}}
<br>
<strong>Lugar</strong>: {{course.place}}
<br>
<strong>Asistente</strong>: {{course.assistent}}

{% endblock %}


{% block modals %}
{% endblock %}


{% block scripts %}
{% endblock %}
